
{# Translations field view #}
<ul class="eatb_field_translations">

    {# Verify if value is an array #}
    {% if value is iterable %}

        {# For each translation #}
        {% for translation in value %}
            {% if translation.language %}

                {# Display a flag with edit translation path #}
                <li class="{{ translation.language.isoKey }}">
                    {% set action_edit_href = path('easyadmin', request_parameters|default({})|merge({ action: 'edit', entity: field_options.sourceEntity|split('\\')|last, id: translation.parent.id, translation: translation.language.isoKey })) %}
                    <a href="{{ action_edit_href }}">
                        <div class="flag" style="background-image: url('{{ vich_uploader_asset(translation.language, 'flagFile') }}');" title="{{ translation.language.title }}"></div>
                    </a>
                </li>

            {% endif %}
        {% endfor %}
    {% endif %}

</ul>